*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 10px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

/*basic*/
body{
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 114rem;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
/*basic*/


/*promo setcion styles start*/
.promo {
    background: url(../img/main_bg.jpg) center center / cover no-repeat;
    padding: 3.8rem 0 6.1rem 0;
}

.logo .logo__image{
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.logo .logo__text{
    text-align: center;
    font-weight: 500;
    font-size: 1.5rem;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 5.3rem;
}

.title{
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
    font-size: 4.1rem;
    color: #F9BF3B;
}

h1.title{
    margin-bottom: 2rem;
}

h2.title{
    margin-bottom: 2.2rem;
}

.title__big {
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
    font-size: 8rem;
    color: #fff;
    margin-bottom: 2rem;
    position: relative;
}
.title__big::before,
.title__big::after{
    content: "";
    display: block;
    width: 25%;
    position: absolute;
    border-bottom: .2rem solid #fff;
    top: 50%;
}
.title__big::after{
    right: 0;
}

.promo__text{
    font-weight: 300;
    font-size: 2.1rem;
    line-height: 2.8rem;
    color: #fff;
    margin-bottom: 7.2rem;
}

.promo__text span{
    font-weight: 700;
    color: #F9BF3B;
    text-transform: uppercase;
}

.promo__btn{
    display: block;
    margin: 0 auto;
    font-size: 2.1rem;
    text-transform: uppercase;
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
    color: #fff;
    padding: 2.3rem 1.6rem;
    background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    transition: all .3s;
    margin-bottom: 7rem;
    cursor: pointer;
}

.promo__btn:hover,
.promo__btn:active{
    background: linear-gradient(0deg, #2798B9 80%, #3AB6DA 100%);
}

.promo__btn:hover{
    transform: translateY(-.3rem);
}
.promo__btn:active{
    transform: translateY(.3rem);
}

.more__text{
    font-weight: 100;
    font-size: 1.5rem;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: .5rem;
}
.more__img{
    display: block;
    margin: 0 auto;
    cursor: pointer;
}
/*promo section styles end*/

/*waiting section styles start*/
.waiting {
    background-color: #EFEFEF;
    padding: 8.8rem 0 7.5rem 0;
}

.waiting__title {
    font-weight: 400;
    font-size: 3rem;
    color: #252525;
    text-align: center;
    margin-bottom: 1.8rem;
    text-transform: uppercase;
}
.line {
    max-width: 22rem;
    height: 0.7rem;
    background-color: #F9BF3B;
    margin: 0 auto;
    margin-bottom: 1.8rem;
}
.waiting__subtitle {
    font-weight: 400;
    font-size: 2.3rem;
    color: #4A4A4A;
    text-align: center;
    margin-bottom: 4.5rem;
}
.waiting__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.waiting__item {
    max-width: 34rem;
}
.waiting__img {
    margin-bottom: 2.6rem;
}
.waiting__text {
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 2.1rem;
    color: #4A4A4A;
    text-align: center;
}
/*waiting section styles end*/

/*optimization section styles start*/
.optimization {
    padding: 10.8rem 0 7.4rem 0;
}
.optimization__wrapper {
    max-width: 75rem;
    margin-left: 39.1rem;
}
.optimization__woman{
    position: absolute;
    left: -25rem;
    bottom: -7.4rem;
    z-index: -1;
}
.optimization__title {
    font-weight: 900;
    font-size: 3rem;
    color: #299CBD;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
}
.optimization__text {
    font-weight: 300;
    font-size: 1.7rem;
    line-height: 2.7rem;
    color: #4A4A4A;
}
.optimization__text span{
    font-weight: 700;
    line-height: .8rem;
}
/*optimization section styles end*/


/*result section styles start*/
.results {
    background: url(../img/second_bg.jpg) center center / cover no-repeat;
    padding: 8.6rem 0 6.5rem 0;
}
.results__title {
    font-weight: 400;
    font-size: 3rem;
    color: #EFEFEF;
    text-transform: uppercase;
    margin-bottom: 1.8rem;
    text-align: center;
}
.results .line {
    margin-bottom: 3.9rem;
}
.results__wrapper {
    display: flex;
    justify-content: space-around;
}
.results__item {
    max-width: 24rem;
}
.result__img {
    display: block;
    margin: 0 auto;
    background: #B4E2FF;
    border-radius: 50%;
    padding: 3rem;
    margin-bottom: 2.4rem;
    transition: all .4s;
}
.result__img:hover{
    padding: 3.2rem;
    box-shadow: 0px 0px 10px rgb(227, 220, 83);
}
.result__name {
    font-weight: 300;
    font-size: 1.7rem;
    line-height: 2rem;
    color: #EFEFEF;
    text-align: center;
}
/*results section styles end*/